article, section, header, main {
	padding: .8em;
}


html {
  box-sizing: border-box;
}

body > header {
	background-color: red;
	float: left;
	max-width: 18em;
}

.related  {
	background-color: gray;
	max-width: 75em;
	-webkit-column-count: 2;
	float: right;
}



aside { 
background-color: yellow;
max-width: 18em;
position: inherit;

}

body > footer {
	width: 100%;
	float: left;
	background-color: pink;
	 -webkit-column-count: 4;


}

body > footer h2 {
	-webkit-column-span: all;
}

main {
	position: relative;
	right: 0;
	max-width: 75em;
 background-color: purple;
 -webkit-column-count: 2;
 -webkit-column-width: 25em;
  -webkit-column-rule: 1px dotted #000;

}

h1 {
	font-size: 2.1em;
}
h2 {

	font-size: 1.999em;
}
h3 {
	font-size: 1.414em;
}

h4 {
	font-size: 1em;
}
